@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background-color: #0d1224;
    background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px), /* Vertical lines */
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px); /* Horizontal lines */
  background-size: 40px 40px; /* Adjust the size of the grid cells */
}
.App.dark {
  background-color: #0d1224;
  color: white;
  background-image: 
  linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px), /* Vertical lines */
  linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px); /* Horizontal lines */
background-size: 40px 40px; /* Adjust the size of the grid cells */
}

.App.light {
  background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
  color: black;
  
}
  
  

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')